# replace USERNAME with your username first
[Unit]
description=dropbox
After=network.target

[Service]
# caps are all but kill... (and mknod... systemd doesn't support it)... I wish drop-cap=all and --cap interacted properly
## no X
ExecStart=/usr/bin/systemd-nspawn --drop-capability=CAP_CHOWN,CAP_DAC_OVERRIDE,CAP_DAC_READ_SEARCH,CAP_FOWNER,CAP_FSETID,CAP_IPC_OWNER,CAP_LEASE,CAP_LINUX_IMMUTABLE,CAP_NET_BIND_SERVICE,CAP_NET_BROADCAST,CAP_NET_RAW,CAP_SETGID,CAP_SETFCAP,CAP_SETPCAP,CAP_SETUID,CAP_SYS_ADMIN,CAP_SYS_CHROOT,CAP_SYS_NICE,CAP_SYS_PTRACE,CAP_SYS_TTY_CONFIG,CAP_SYS_RESOURCE,CAP_SYS_BOOT,CAP_AUDIT_WRITE,CAP_AUDIT_CONTROL,CAP_NET_ADMIN --bind-ro=/usr --bind-ro=/lib --bind-ro=/lib64 --bind-ro=/bin --bind=/home/USERNAME/.dropbox_sandbox/home:/home/USERNAME --bind-ro=/home/USERNAME/.dropbox_sandbox/root:/root -M dropbox -u USERNAME -D /var/lib/machines/dropbox/ /root/run
## with X -- not recommended
##ExecStart=/usr/bin/systemd-nspawn --drop-capability=CAP_CHOWN,CAP_DAC_OVERRIDE,CAP_DAC_READ_SEARCH,CAP_FOWNER,CAP_FSETID,CAP_IPC_OWNER,CAP_LEASE,CAP_LINUX_IMMUTABLE,CAP_NET_BIND_SERVICE,CAP_NET_BROADCAST,CAP_NET_RAW,CAP_SETGID,CAP_SETFCAP,CAP_SETPCAP,CAP_SETUID,CAP_SYS_ADMIN,CAP_SYS_CHROOT,CAP_SYS_NICE,CAP_SYS_PTRACE,CAP_SYS_TTY_CONFIG,CAP_SYS_RESOURCE,CAP_SYS_BOOT,CAP_AUDIT_WRITE,CAP_AUDIT_CONTROL,CAP_NET_ADMIN --bind-ro=/usr --bind-ro=/lib --bind-ro=/lib64 --bind-ro=/bin --bind=/home/USERNAME/.dropbox_sandbox/home:/home/USERNAME --bind-ro=/home/USERNAME/.dropbox_sandbox/root:/root --setenv=DISPLAY=:0.0 --bind=/tmp/.X11-unix -M dropbox -u USERNAME -D /var/lib/machines/dropbox/ /root/run

[Install]
WantedBy=multi-user.target
